    <section class="welcome-container"
        style="background-image: url(images/welcome/contact.jpg);">
        <h1 >Contact Us
            </h1><!--    <p id="sub">Experience Door Step Gold Loan Services</p>  -->
    <div class="button">
        <p><a href="/">Home</a>  <a href=""> - Contact Us</a></p>
     </div>

    </section>


        
    <style>
        .welcome-container{
            height: 300px;
        }
        a{
            color: white;
            text-decoration: none;
        }
    </style>