 
 <link rel="stylesheet" href="~/css/gold/gold.css" asp-append-version="true">
 <section class="welcome-container"
        style=";">
        <h1 >Gold Loan
            </h1>
    <div class="button">
             <p><a href="/">Home</a>  <a href=""> - Gold Loan</a></p>
     </div>

    </section>
   