  <link rel="stylesheet" href="~/css/vehicle/vehicle.css" asp-append-version="true">
 <section class="welcome-container">
        <h1 >Vehicle Loan
            </h1>
    <div class="button">
             <p><a href="/">Home</a>  <a href=""> - Vehicle Loan</a></p>
     </div>

    </section>
