 <section class="welcome-container"
        >
        <h1 id="header">Gold Loan</h1>
        <p id="sub">Experience Door Step Gold Loan Services</p>
        <div class="button">
            <button>Apply Now</button>
        </div>

    </section>