 <section class="welcome-container"
        style="background-image: url(images/welcome/Artboard.png);">
        <h1 id="header">Gold Loan</h1>
        <p id="sub">Experience Door Step Gold Loan Services</p>
        <div class="button">
            <button>Apply Now</button>
        </div>

    </section>